*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'montserrat';
    color: #fff;;
}
html,body{
    height: 100%;
    width: 100%;

}
#cursor{
    height: 20px;
    width: 20px;
    background-color: #95c11e;
    border-radius: 50%;
    position: fixed;
    z-index: 99;
}
#cursor-blur{
    height: 400px;
    width: 400px;
    background-color: #96c1293f;
    border-radius: 50%;
    position: fixed;
    filter: blur(60px);
    z-index: 9;
}
#loader{
    height: 100vh;
    width: 100%;
    background-color: rgb(117, 119, 125);
    position: fixed;
    z-index: 99;
}
#loader h1{
    font-size: 100px;
    text-align: center;
    padding:auto;
}
#nav{
    height: 130px;
    width: 100%;
   /* background-color: red;*/
    display: flex;
    align-items: center;
    z-index: 999;
    position: fixed;
    padding: 0 120px;
    gap: 50px;
    justify-content: flex-start;


}
#nav img{
    height: 4.5vw;
}
#nav a{
    text-transform: uppercase;
    font-weight: 500;
    cursor: pointer;
    font-size: 1.15vw;
}
video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: fixed;
    z-index: -1;
}
#main{
    position: relative;
    background-color: rgba(0,0, 0, 0.4);
 
 }
 #page1{
     height: 100vh;
     width: 100%;
    background-color: black;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    z-index: 10;
 }
 #page1 h1{
     font-size: 100px;
     font-weight: 900;
     position:relative ;
      ;
 }
 #page1 h1::before{
     content: "GALGOTIAS UNIVERSITY";
     position: absolute;
     color:black;
     top: -6px;
     left: -6px;
     -webkit-text-stroke: 2px #95c11e;
     z-index: -1;
 
 }
 
 #page1 h2{
     font-size: 32px;
     font-weight: 900;
     margin-top: 10px;
     margin-bottom: 20px;
 
 }
 #page1 p{
     font-size: 17px;
     font-weight: 500;
     width: 40%;
 }
 #page2{
     min-height: 100vh;
     width: 100%;
     z-index: 10;
 }
